## Felipe Botelho's way of increasing value to the Project

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')
plt.style.use('fivethirtyeight')

In [6]:
bureau_df = pd.read_csv('bureau.csv')
application_test_df = pd.read_csv('application_test.csv')
application_train_df = pd.read_csv('application_train.csv')

### Data Curation for application_train_df and application_test_df

After some experiments on the data, our group have spoted two columns with very important data that were not being presented the most efficient way: 
- DAYS_EMPLOYED: All collumns with error return a default value of 365243. We are thus replacing all the rows with this value by NaN values, anda create another collumn called "YEARS_EMPLOYED" that corresponds to the DAYS_EMPLOYED (already corrected), multiplied by -1 and devided by 365.
- DAYS_BIRTH: The numbers in the DAYS_BIRTH column are negative because they are recorded relative to the current loan application. We are going to create a new column called "CLIENT_AGE" which corresponds to the positive number of DAYS_BIRTH, devided by 365.

In [11]:
application_train_df['CLIENT_AGE'] = application_train_df['DAYS_BIRTH'] / -365
application_train_df['DAYS_EMPLOYED'].replace({365243: np.nan}, inplace = True)
application_train_df['YEARS_EMPLOYED'] = application_train_df['DAYS_EMPLOYED'] / -365

In [12]:
application_test_df['CLIENT_AGE'] = application_test_df['DAYS_BIRTH'] / -365
application_test_df['DAYS_EMPLOYED'].replace({365243: np.nan}, inplace = True)
application_test_df['YEARS_EMPLOYED'] = application_test_df['DAYS_EMPLOYED'] / -365

#### Encoding Categorical variables using One Hot Encoding

In [15]:
# one-hot encoding of categorical variables
application_train_df = pd.get_dummies(application_train_df)
application_test_df = pd.get_dummies(application_test_df)

print('Training Features shape: ', application_train_df.shape)
print('Testing Features shape: ', application_test_df.shape)

Training Features shape:  (307511, 251)
Testing Features shape:  (48744, 244)

#### Aligning data with test dataframe

In [17]:
train_labels = application_train_df['TARGET']

# Align the training and testing data, keep only columns present in both dataframes
application_train_df, application_test_df = application_train_df.align(application_test_df, join = 'inner', axis = 1)

# Add the target back in
application_train_df['TARGET'] = train_labels

print('Training Features shape: ', application_train_df.shape)
print('Testing Features shape: ', application_test_df.shape)

Training Features shape:  (307511, 245)
Testing Features shape:  (48744, 244)

#### Exterior Sources

Exterior Sources
The 3 variables with the strongest negative correlations with the target are EXT_SOURCE_1, EXT_SOURCE_2, and EXT_SOURCE_3. According to the documentation, these features represent a "normalized score from external data source". I'm not sure what this exactly means, but it may be a cumulative sort of credit rating made using numerous sources of data.

#### Feature Engeneering - Creating new Features for the model based on Polynomial Feature approach

One simple feature construction method is called polynomial features. In this method, we make features that are powers of existing features as well as interaction terms between existing features. For example, we can create variables EXT_SOURCE_1^2 and EXT_SOURCE_2^2 and also variables such as EXT_SOURCE_1 x EXT_SOURCE_2, EXT_SOURCE_1 x EXT_SOURCE_2^2, EXT_SOURCE_1^2 x EXT_SOURCE_2^2, and so on. These features that are a combination of multiple individual variables are called interaction terms because they capture the interactions between variables. In other words, while two variables by themselves may not have a strong influence on the target, combining them together into a single interaction variable might show a relationship with the target. Interaction terms are commonly used in statistical models to capture the effects of multiple variables, but I do not see them used as often in machine learning. Nonetheless, we can try out a few to see if they might help our model to predict whether or not a client will repay a loan.

In [19]:
# Make a new dataframe for polynomial features
poly_features = application_train_df[['EXT_SOURCE_1', 'EXT_SOURCE_2', 'EXT_SOURCE_3', 'DAYS_BIRTH', 'TARGET']]
poly_features_test = application_test_df[['EXT_SOURCE_1', 'EXT_SOURCE_2', 'EXT_SOURCE_3', 'DAYS_BIRTH']]

# imputer for handling missing values
from sklearn.impute import SimpleImputer
imputer = SimpleImputer(missing_values=np.nan, strategy='mean')

poly_target = poly_features['TARGET']

poly_features = poly_features.drop(columns = ['TARGET'])

# Need to impute missing values
poly_features = imputer.fit_transform(poly_features)
poly_features_test = imputer.transform(poly_features_test)

from sklearn.preprocessing import PolynomialFeatures
                                  
# Create the polynomial object with specified degree
poly_transformer = PolynomialFeatures(degree = 3)

In [20]:
# Train the polynomial features
poly_transformer.fit(poly_features)

# Transform the features
poly_features = poly_transformer.transform(poly_features)
poly_features_test = poly_transformer.transform(poly_features_test)
print('Polynomial Features shape: ', poly_features.shape)

Polynomial Features shape:  (307511, 35)

Several of the new variables have a greater (in terms of absolute magnitude) correlation with the target than the original features. When we build machine learning models, we can try with and without these features to determine if they actually help the model learn.

#### Feature Engeneering - Creating new Features for the model based on Domain Features approach

Maybe it's not entirely correct to call this "domain knowledge" because I'm not a credit expert, but perhaps we could call this "attempts at applying limited financial knowledge". In this frame of mind, we can make a couple features that attempt to capture what we think may be important for telling whether a client will default on a loan. Here I'm going to use five features that were inspired by this script by Aguiar:

- CREDIT_INCOME_PERCENT: the percentage of the credit amount relative to a client's income
- ANNUITY_INCOME_PERCENT: the percentage of the loan annuity relative to a client's income
- CREDIT_TERM: the length of the payment in months (since the annuity is the monthly amount due
- DAYS_EMPLOYED_PERCENT: the percentage of the days employed relative to the client's age

In [23]:
application_train_df['CREDIT_INCOME_PERCENT'] = application_train_df['AMT_CREDIT'] / application_train_df['AMT_INCOME_TOTAL']
application_train_df['ANNUITY_INCOME_PERCENT'] = application_train_df['AMT_ANNUITY'] / application_train_df['AMT_INCOME_TOTAL']
application_train_df['CREDIT_TERM'] = application_train_df['AMT_ANNUITY'] / application_train_df['AMT_CREDIT']
application_train_df['DAYS_EMPLOYED_PERCENT'] = application_train_df['DAYS_EMPLOYED'] / application_train_df['DAYS_BIRTH']

In [24]:
application_test_df['CREDIT_INCOME_PERCENT'] = application_test_df['AMT_CREDIT'] / application_test_df['AMT_INCOME_TOTAL']
application_test_df['ANNUITY_INCOME_PERCENT'] = application_test_df['AMT_ANNUITY'] / application_test_df['AMT_INCOME_TOTAL']
application_test_df['CREDIT_TERM'] = application_test_df['AMT_ANNUITY'] / application_test_df['AMT_CREDIT']
application_test_df['DAYS_EMPLOYED_PERCENT'] = application_test_df['DAYS_EMPLOYED'] / application_test_df['DAYS_BIRTH']

### Feature engeneering created from the bureau dataframe

In [28]:
previous_loan_counts = bureau_df.groupby('SK_ID_CURR', as_index=False)['SK_ID_BUREAU'].count().rename(columns = {'SK_ID_BUREAU': 'PREVIOUS_LOAN_COUNTS'})
previous_loan_counts.head()

   SK_ID_CURR  PREVIOUS_LOAN_COUNTS
0      100001                     7
1      100002                     8
2      100003                     4
3      100004                     2
4      100005                     3

In [29]:
# Join to the training dataframe
application_train_df = application_train_df.merge(previous_loan_counts, on = 'SK_ID_CURR', how = 'left')

# Fill the missing values with 0 
application_train_df['PREVIOUS_LOAN_COUNTS'] = application_train_df['PREVIOUS_LOAN_COUNTS'].fillna(0)
application_train_df.head()

,SK_ID_CURR,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,REGION_POPULATION_RELATIVE,DAYS_BIRTH,DAYS_EMPLOYED,DAYS_REGISTRATION,...,EMERGENCYSTATE_MODE_No,EMERGENCYSTATE_MODE_Yes,TARGET,CREDIT_INCOME_PERCENT,ANNUITY_INCOME_PERCENT,CREDIT_TERM,DAYS_EMPLOYED_PERCENT,previous_loan_counts_x,previous_loan_counts_y,PREVIOUS_LOAN_COUNTS
0,100002,0,202500.0,406597.5,24700.5,351000.0,0.018801,-9461,-637.0,-3648.0,...,1,0,1,2.007889,0.121978,0.060749,0.067329,8.0,8.0,8.0
1,100003,0,270000.0,1293502.5,35698.5,1129500.0,0.003541,-16765,-1188.0,-1186.0,...,1,0,0,4.790750,0.132217,0.027598,0.070862,4.0,4.0,4.0
2,100004,0,67500.0,135000.0,6750.0,135000.0,0.010032,-19046,-225.0,-4260.0,...,0,0,0,2.000000,0.100000,0.050000,0.011814,2.0,2.0,2.0
3,100006,0,135000.0,312682.5,29686.5,297000.0,0.008019,-19005,-3039.0,-9833.0,...,0,0,0,2.316167,0.219900,0.094941,0.159905,0.0,NaN,0.0
4,100007,0,121500.0,513000.0,21865.5,513000.0,0.028663,-19932,-3038.0,-4311.0,...,0,0,0,4.222222,0.179963,0.042623,0.152418,1.0,1.0,1.0

Now it is time to create a few more numerical features from the bureau dataframe

In [30]:
# Group by the client id, calculate aggregation statistics
bureau_agg = bureau_df.drop(columns = ['SK_ID_BUREAU']).groupby('SK_ID_CURR', as_index = False).agg(['count', 'mean', 'max', 'min', 'sum']).reset_index()
bureau_agg.head()

  SK_ID_CURR DAYS_CREDIT                               CREDIT_DAY_OVERDUE  \
                   count         mean  max   min   sum              count
0     100001           7  -735.000000  -49 -1572 -5145                  7
1     100002           8  -874.000000 -103 -1437 -6992                  8
2     100003           4 -1400.750000 -606 -2586 -5603                  4
3     100004           2  -867.000000 -408 -1326 -1734                  2
4     100005           3  -190.666667  -62  -373  -572                  3

                ... DAYS_CREDIT_UPDATE                               \
  mean max min  ...              count        mean  max   min   sum
0  0.0   0   0  ...                  7  -93.142857   -6  -155  -652
1  0.0   0   0  ...                  8 -499.875000   -7 -1185 -3999
2  0.0   0   0  ...                  4 -816.000000  -43 -2131 -3264
3  0.0   0   0  ...                  2 -532.000000 -382  -682 -1064
4  0.0   0   0  ...                  3  -54.333333  -11  -121  -163

  AMT_ANNUITY
        count         mean      max  min      sum
0           7  3545.357143  10822.5  0.0  24817.5
1           7     0.000000      0.0  0.0      0.0
2           0          NaN      NaN  NaN      0.0
3           0          NaN      NaN  NaN      0.0
4           3  1420.500000   4261.5  0.0   4261.5

[5 rows x 61 columns]

In [31]:
#Dealing wih an multi index problem by having only one index

# List of column names
columns = ['SK_ID_CURR']

# Iterate through the variables names
for var in bureau_agg.columns.levels[0]:
    # Skip the id name
    if var != 'SK_ID_CURR':
        
        # Iterate through the stat names
        for stat in bureau_agg.columns.levels[1][:-1]:
            # Make a new column name for the variable and stat
            columns.append('bureau_%s_%s' % (var, stat))

In [32]:
bureau_agg.columns = columns
bureau_agg.head()

,SK_ID_CURR,bureau_DAYS_CREDIT_count,bureau_DAYS_CREDIT_mean,bureau_DAYS_CREDIT_max,bureau_DAYS_CREDIT_min,bureau_DAYS_CREDIT_sum,bureau_CREDIT_DAY_OVERDUE_count,bureau_CREDIT_DAY_OVERDUE_mean,bureau_CREDIT_DAY_OVERDUE_max,bureau_CREDIT_DAY_OVERDUE_min,...,bureau_DAYS_CREDIT_UPDATE_count,bureau_DAYS_CREDIT_UPDATE_mean,bureau_DAYS_CREDIT_UPDATE_max,bureau_DAYS_CREDIT_UPDATE_min,bureau_DAYS_CREDIT_UPDATE_sum,bureau_AMT_ANNUITY_count,bureau_AMT_ANNUITY_mean,bureau_AMT_ANNUITY_max,bureau_AMT_ANNUITY_min,bureau_AMT_ANNUITY_sum
0,100001,7,-735.000000,-49,-1572,-5145,7,0.0,0,0,...,7,-93.142857,-6,-155,-652,7,3545.357143,10822.5,0.0,24817.5
1,100002,8,-874.000000,-103,-1437,-6992,8,0.0,0,0,...,8,-499.875000,-7,-1185,-3999,7,0.000000,0.0,0.0,0.0
2,100003,4,-1400.750000,-606,-2586,-5603,4,0.0,0,0,...,4,-816.000000,-43,-2131,-3264,0,NaN,NaN,NaN,0.0
3,100004,2,-867.000000,-408,-1326,-1734,2,0.0,0,0,...,2,-532.000000,-382,-682,-1064,0,NaN,NaN,NaN,0.0
4,100005,3,-190.666667,-62,-373,-572,3,0.0,0,0,...,3,-54.333333,-11,-121,-163,3,1420.500000,4261.5,0.0,4261.5

In [35]:
# Merge with the training data
application_train_df = application_train_df.merge(bureau_agg, on = 'SK_ID_CURR', how = 'left')
application_train_df.head()

,SK_ID_CURR,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,REGION_POPULATION_RELATIVE,DAYS_BIRTH,DAYS_EMPLOYED,DAYS_REGISTRATION,...,bureau_DAYS_CREDIT_UPDATE_count_y,bureau_DAYS_CREDIT_UPDATE_mean_y,bureau_DAYS_CREDIT_UPDATE_max_y,bureau_DAYS_CREDIT_UPDATE_min_y,bureau_DAYS_CREDIT_UPDATE_sum_y,bureau_AMT_ANNUITY_count_y,bureau_AMT_ANNUITY_mean_y,bureau_AMT_ANNUITY_max_y,bureau_AMT_ANNUITY_min_y,bureau_AMT_ANNUITY_sum_y
0,100002,0,202500.0,406597.5,24700.5,351000.0,0.018801,-9461,-637.0,-3648.0,...,8.0,-499.875,-7.0,-1185.0,-3999.0,7.0,0.0,0.0,0.0,0.0
1,100003,0,270000.0,1293502.5,35698.5,1129500.0,0.003541,-16765,-1188.0,-1186.0,...,4.0,-816.000,-43.0,-2131.0,-3264.0,0.0,NaN,NaN,NaN,0.0
2,100004,0,67500.0,135000.0,6750.0,135000.0,0.010032,-19046,-225.0,-4260.0,...,2.0,-532.000,-382.0,-682.0,-1064.0,0.0,NaN,NaN,NaN,0.0
3,100006,0,135000.0,312682.5,29686.5,297000.0,0.008019,-19005,-3039.0,-9833.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,100007,0,121500.0,513000.0,21865.5,513000.0,0.028663,-19932,-3038.0,-4311.0,...,1.0,-783.000,-783.0,-783.0,-783.0,0.0,NaN,NaN,NaN,0.0

#### Creating new Features from categorical features of Bureau dataframe

In [36]:
categorical = pd.get_dummies(bureau_df.select_dtypes('object'))
categorical['SK_ID_CURR'] = bureau_df['SK_ID_CURR']
categorical.head()

,CREDIT_ACTIVE_Active,CREDIT_ACTIVE_Bad debt,CREDIT_ACTIVE_Closed,CREDIT_ACTIVE_Sold,CREDIT_CURRENCY_currency 1,CREDIT_CURRENCY_currency 2,CREDIT_CURRENCY_currency 3,CREDIT_CURRENCY_currency 4,CREDIT_TYPE_Another type of loan,CREDIT_TYPE_Car loan,...,CREDIT_TYPE_Loan for business development,CREDIT_TYPE_Loan for purchase of shares (margin lending),CREDIT_TYPE_Loan for the purchase of equipment,CREDIT_TYPE_Loan for working capital replenishment,CREDIT_TYPE_Microloan,CREDIT_TYPE_Mobile operator loan,CREDIT_TYPE_Mortgage,CREDIT_TYPE_Real estate loan,CREDIT_TYPE_Unknown type of loan,SK_ID_CURR
0,0,0,1,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,215354
1,1,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,215354
2,1,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,215354
3,1,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,215354
4,1,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,215354

In [37]:
categorical_grouped = categorical.groupby('SK_ID_CURR').agg(['sum', 'mean'])
categorical_grouped.head()

           CREDIT_ACTIVE_Active           CREDIT_ACTIVE_Bad debt       \
                            sum      mean                    sum mean
SK_ID_CURR
100001                        3  0.428571                      0  0.0
100002                        2  0.250000                      0  0.0
100003                        1  0.250000                      0  0.0
100004                        0  0.000000                      0  0.0
100005                        2  0.666667                      0  0.0

           CREDIT_ACTIVE_Closed           CREDIT_ACTIVE_Sold       \
                            sum      mean                sum mean
SK_ID_CURR
100001                        4  0.571429                  0  0.0
100002                        6  0.750000                  0  0.0
100003                        3  0.750000                  0  0.0
100004                        2  1.000000                  0  0.0
100005                        1  0.333333                  0  0.0

           CREDIT_CURRENCY_currency 1       ... CREDIT_TYPE_Microloan       \
                                  sum mean  ...                   sum mean
SK_ID_CURR                                  ...
100001                              7  1.0  ...                     0  0.0
100002                              8  1.0  ...                     0  0.0
100003                              4  1.0  ...                     0  0.0
100004                              2  1.0  ...                     0  0.0
100005                              3  1.0  ...                     0  0.0

           CREDIT_TYPE_Mobile operator loan      CREDIT_TYPE_Mortgage       \
                                        sum mean                  sum mean
SK_ID_CURR
100001                                    0  0.0                    0  0.0
100002                                    0  0.0                    0  0.0
100003                                    0  0.0                    0  0.0
100004                                    0  0.0                    0  0.0
100005                                    0  0.0                    0  0.0

           CREDIT_TYPE_Real estate loan      CREDIT_TYPE_Unknown type of loan  \
                                    sum mean                              sum
SK_ID_CURR
100001                                0  0.0                                0
100002                                0  0.0                                0
100003                                0  0.0                                0
100004                                0  0.0                                0
100005                                0  0.0                                0


           mean
SK_ID_CURR
100001      0.0
100002      0.0
100003      0.0
100004      0.0
100005      0.0

[5 rows x 46 columns]

The sum columns represent the count of that category for the associated client and the mean represents the normalized count. One-hot encoding makes the process of calculating these figures very easy!

We can use a similar function as before to rename the columns.

In [38]:
group_var = 'SK_ID_CURR'

# Need to create new column names
columns = []

# Iterate through the variables names
for var in categorical_grouped.columns.levels[0]:
    # Skip the grouping variable
    if var != group_var:
        # Iterate through the stat names
        for stat in ['count', 'count_norm']:
            # Make a new column name for the variable and stat
            columns.append('%s_%s' % (var, stat))

#  Rename the columns
categorical_grouped.columns = columns

categorical_grouped.head()

,CREDIT_ACTIVE_Active_count,CREDIT_ACTIVE_Active_count_norm,CREDIT_ACTIVE_Bad debt_count,CREDIT_ACTIVE_Bad debt_count_norm,CREDIT_ACTIVE_Closed_count,CREDIT_ACTIVE_Closed_count_norm,CREDIT_ACTIVE_Sold_count,CREDIT_ACTIVE_Sold_count_norm,CREDIT_CURRENCY_currency 1_count,CREDIT_CURRENCY_currency 1_count_norm,...,CREDIT_TYPE_Microloan_count,CREDIT_TYPE_Microloan_count_norm,CREDIT_TYPE_Mobile operator loan_count,CREDIT_TYPE_Mobile operator loan_count_norm,CREDIT_TYPE_Mortgage_count,CREDIT_TYPE_Mortgage_count_norm,CREDIT_TYPE_Real estate loan_count,CREDIT_TYPE_Real estate loan_count_norm,CREDIT_TYPE_Unknown type of loan_count,CREDIT_TYPE_Unknown type of loan_count_norm
SK_ID_CURR,,,,,,,,,,,,,,,,,,,,,
100001,3,0.428571,0,0.0,4,0.571429,0,0.0,7,1.0,...,0,0.0,0,0.0,0,0.0,0,0.0,0,0.0
100002,2,0.250000,0,0.0,6,0.750000,0,0.0,8,1.0,...,0,0.0,0,0.0,0,0.0,0,0.0,0,0.0
100003,1,0.250000,0,0.0,3,0.750000,0,0.0,4,1.0,...,0,0.0,0,0.0,0,0.0,0,0.0,0,0.0
100004,0,0.000000,0,0.0,2,1.000000,0,0.0,2,1.0,...,0,0.0,0,0.0,0,0.0,0,0.0,0,0.0
100005,2,0.666667,0,0.0,1,0.333333,0,0.0,3,1.0,...,0,0.0,0,0.0,0,0.0,0,0.0,0,0.0

In [39]:
application_train_df = application_train_df.merge(categorical_grouped, left_on = 'SK_ID_CURR', right_index = True, how = 'left')
application_train_df.head()

,SK_ID_CURR,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,REGION_POPULATION_RELATIVE,DAYS_BIRTH,DAYS_EMPLOYED,DAYS_REGISTRATION,...,CREDIT_TYPE_Microloan_count,CREDIT_TYPE_Microloan_count_norm,CREDIT_TYPE_Mobile operator loan_count,CREDIT_TYPE_Mobile operator loan_count_norm,CREDIT_TYPE_Mortgage_count,CREDIT_TYPE_Mortgage_count_norm,CREDIT_TYPE_Real estate loan_count,CREDIT_TYPE_Real estate loan_count_norm,CREDIT_TYPE_Unknown type of loan_count,CREDIT_TYPE_Unknown type of loan_count_norm
0,100002,0,202500.0,406597.5,24700.5,351000.0,0.018801,-9461,-637.0,-3648.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,100003,0,270000.0,1293502.5,35698.5,1129500.0,0.003541,-16765,-1188.0,-1186.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,100004,0,67500.0,135000.0,6750.0,135000.0,0.010032,-19046,-225.0,-4260.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,100006,0,135000.0,312682.5,29686.5,297000.0,0.008019,-19005,-3039.0,-9833.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,100007,0,121500.0,513000.0,21865.5,513000.0,0.028663,-19932,-3038.0,-4311.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

### Feature engeneering created from the bureau balance dataframe

In [41]:
bureau_balance_df = pd.read_csv('bureau_balance.csv')

In [42]:
#In orther to generates more features from bureau balance we must first create a method that generates the numerical featueres we want

def agg_numeric(df, group_var, df_name):
    """Aggregates the numeric values in a dataframe. This can
    be used to create features for each instance of the grouping variable.
    
    Parameters
    --------
        df (dataframe): 
            the dataframe to calculate the statistics on
        group_var (string): 
            the variable by which to group df
        df_name (string): 
            the variable used to rename the columns
        
    Return
    --------
        agg (dataframe): 
            a dataframe with the statistics aggregated for 
            all numeric columns. Each instance of the grouping variable will have 
            the statistics (mean, min, max, sum; currently supported) calculated. 
            The columns are also renamed to keep track of features created.
    
    """
    # Remove id variables other than grouping variable
    for col in df:
        if col != group_var and 'SK_ID' in col:
            df = df.drop(columns = col)
            
    group_ids = df[group_var]
    numeric_df = df.select_dtypes('number')
    numeric_df[group_var] = group_ids

    # Group by the specified variable and calculate the statistics
    agg = numeric_df.groupby(group_var).agg(['count', 'mean', 'max', 'min', 'sum']).reset_index()

    # Need to create new column names
    columns = [group_var]

    # Iterate through the variables names
    for var in agg.columns.levels[0]:
        # Skip the grouping variable
        if var != group_var:
            # Iterate through the stat names
            for stat in agg.columns.levels[1][:-1]:
                # Make a new column name for the variable and stat
                columns.append('%s_%s_%s' % (df_name, var, stat))

    agg.columns = columns
    return agg

In [43]:
# Same thing but for categorical features



def count_categorical(df, group_var, df_name):
    """Computes counts and normalized counts for each observation
    of `group_var` of each unique category in every categorical variable
    
    Parameters
    --------
    df : dataframe 
        The dataframe to calculate the value counts for.
        
    group_var : string
        The variable by which to group the dataframe. For each unique
        value of this variable, the final dataframe will have one row
        
    df_name : string
        Variable added to the front of column names to keep track of columns

    
    Return
    --------
    categorical : dataframe
        A dataframe with counts and normalized counts of each unique category in every categorical variable
        with one row for every unique value of the `group_var`.
        
    """
    
    # Select the categorical columns
    categorical = pd.get_dummies(df.select_dtypes('object'))

    # Make sure to put the identifying id on the column
    categorical[group_var] = df[group_var]

    # Groupby the group var and calculate the sum and mean
    categorical = categorical.groupby(group_var).agg(['sum', 'mean'])
    
    column_names = []
    
    # Iterate through the columns in level 0
    for var in categorical.columns.levels[0]:
        # Iterate through the stats in level 1
        for stat in ['count', 'count_norm']:
            # Make a new column name
            column_names.append('%s_%s_%s' % (df_name, var, stat))
    
    categorical.columns = column_names
    
    return categorical

In [45]:
# Counts of each type of status for each previous loan
bureau_balance_counts = count_categorical(bureau_balance_df, group_var = 'SK_ID_BUREAU', df_name = 'bureau_balance')
bureau_balance_counts.head()

,bureau_balance_STATUS_0_count,bureau_balance_STATUS_0_count_norm,bureau_balance_STATUS_1_count,bureau_balance_STATUS_1_count_norm,bureau_balance_STATUS_2_count,bureau_balance_STATUS_2_count_norm,bureau_balance_STATUS_3_count,bureau_balance_STATUS_3_count_norm,bureau_balance_STATUS_4_count,bureau_balance_STATUS_4_count_norm,bureau_balance_STATUS_5_count,bureau_balance_STATUS_5_count_norm,bureau_balance_STATUS_C_count,bureau_balance_STATUS_C_count_norm,bureau_balance_STATUS_X_count,bureau_balance_STATUS_X_count_norm
SK_ID_BUREAU,,,,,,,,,,,,,,,,
5001709,0,0.000000,0,0.0,0,0.0,0,0.0,0,0.0,0,0.0,86,0.886598,11,0.113402
5001710,5,0.060241,0,0.0,0,0.0,0,0.0,0,0.0,0,0.0,48,0.578313,30,0.361446
5001711,3,0.750000,0,0.0,0,0.0,0,0.0,0,0.0,0,0.0,0,0.000000,1,0.250000
5001712,10,0.526316,0,0.0,0,0.0,0,0.0,0,0.0,0,0.0,9,0.473684,0,0.000000
5001713,0,0.000000,0,0.0,0,0.0,0,0.0,0,0.0,0,0.0,0,0.000000,22,1.000000

In [46]:
# Calculate value count statistics for each `SK_ID_CURR` 
bureau_balance_agg = agg_numeric(bureau_balance_df, group_var = 'SK_ID_BUREAU', df_name = 'bureau_balance')
bureau_balance_agg.head()

,SK_ID_BUREAU,bureau_balance_MONTHS_BALANCE_count,bureau_balance_MONTHS_BALANCE_mean,bureau_balance_MONTHS_BALANCE_max,bureau_balance_MONTHS_BALANCE_min,bureau_balance_MONTHS_BALANCE_sum
0,5001709,97,-48.0,0,-96,-4656
1,5001710,83,-41.0,0,-82,-3403
2,5001711,4,-1.5,0,-3,-6
3,5001712,19,-9.0,0,-18,-171
4,5001713,22,-10.5,0,-21,-231

The above dataframes have the calculations done on each loan. Now we need to aggregate these for each client. We can do this by merging the dataframes together first and then since all the variables are numeric, we just need to aggregate the statistics again, this time grouping by the SK_ID_CURR

In [48]:
# Dataframe grouped by the loan
bureau_by_loan = bureau_balance_agg.merge(bureau_balance_counts, right_index = True, left_on = 'SK_ID_BUREAU', how = 'outer')

# Merge to include the SK_ID_CURR
bureau_by_loan = bureau_by_loan.merge(bureau_df[['SK_ID_BUREAU', 'SK_ID_CURR']], on = 'SK_ID_BUREAU', how = 'left')
bureau_balance_by_client = agg_numeric(bureau_by_loan.drop(columns = ['SK_ID_BUREAU']), group_var = 'SK_ID_CURR', df_name = 'client')

To recap, for the bureau_balance dataframe we:

- Calculated numeric stats grouping by each loan
- Made value counts of each categorical variable grouping by loan
- Merged the stats and the value counts on the loans
- Calculated numeric stats for the resulting dataframe grouping by the client id

The final resulting dataframe has one row for each client, with statistics calculated for all of their loans with monthly balance information.

Some of these variables are a little confusing, so let's try to explain a few:

- client_bureau_balance_MONTHS_BALANCE_mean_mean: For each loan calculate the mean value of MONTHS_BALANCE. Then for each client, calculate the mean of this value for all of their loans.
- client_bureau_balance_STATUS_X_count_norm_sum: For each loan, calculate the number of occurences of STATUS == X divided by the number of total STATUS values for the loan. Then, for each client, add up the values for each loan.

We will hold off on calculating the correlations until we have all the variables together in one dataframe.

In [50]:
#Merging new features into application_train_df

bureau_counts = count_categorical(bureau_df, group_var = 'SK_ID_CURR', df_name = 'bureau')

# Merge with the value counts of bureau
application_train_df = application_train_df.merge(bureau_counts, on = 'SK_ID_CURR', how = 'left')

# Merge with the stats of bureau
application_train_df = application_train_df.merge(bureau_agg, on = 'SK_ID_CURR', how = 'left')

# Merge with the monthly information grouped by client
application_train_df = application_train_df.merge(bureau_balance_by_client, on = 'SK_ID_CURR', how = 'left')

In [52]:
#Aligning with test set
# Merge with the value counts of bureau
application_test_df = application_test_df.merge(bureau_counts, on = 'SK_ID_CURR', how = 'left')

# Merge with the stats of bureau
application_test_df = application_test_df.merge(bureau_agg, on = 'SK_ID_CURR', how = 'left')

# Merge with the value counts of bureau balance
application_test_df = application_test_df.merge(bureau_balance_by_client, on = 'SK_ID_CURR', how = 'left')


train_labels = application_train_df['TARGET']

# Align the dataframes, this will remove the 'TARGET' column
application_train_df, application_test_df = application_train_df.align(application_test_df, join = 'inner', axis = 1)

application_train_df['TARGET'] = train_labels

## We will not apply PCA

In [54]:
application_train_df.to_csv('app_train_completed.csv', index = False)
application_test_df.to_csv('app_test_completed.csv', index = False)